[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
neovim = "*"
flake8 = "*"
pylint = "*"
mypy = "*"

[packages]
sh = "*"
click = "*"
gpxpy = "*"
maya = "*"
photoprocess = {editable = true,path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
